
*.DS_Store
*.Rdata
*.Rhistory
old/
~*
# exclude materials received from authors, needs to be screened for personally identifying information first
data/materials received from authors/
data/materials received from authors.zip
